# ignore all files in the following directories
.idea/
*.iml
/assets
/index.html
/search
test
/module
/docs/_book
rollup.config.js
book.json
gitbook.css
.jshintrc
.DS_store
*.ico
bower_components
node_modules
_examples
