body {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
table,
th,
td {
  border: 1px solid black;
}
table {
  width: 50%;
}
#default table {
  width: 100%;
}
#default article {
  width: 45%;
  display: inline-block;
}
#example-link {
  font-weight: bold;
}
hr {
  margin-top: 22px;
  border: 0;
  border-top: 4px solid #eee;
}
h1 {
  font-size: 35px;
  font-family: Helvetica Neue, serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 22px;
  margin-bottom: 11px;
}
code {
  font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
  padding: 2px 4px;
  font-size: 80%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
.small {
  font-size: 50%;
}
.info {
  background: rgba(85, 102, 156, 0.2);
  padding: 10px;
  border: 2px solid rgba(85, 102, 156, 0.8);
  width: 50%;
  line-height: 1.4;
}
.half {
  width: 50%;
}
.info.code {
  font-size: 80%;
}
.info.code.nested {
  width: auto;
}
.target {
  background: yellow;
  font-weight: bold;
}
#position-table .tableexport-caption {
  background: yellow;
  font-weight: bold;
}
#formats .tableexport-caption {
  background: yellow;
  font-weight: bold;
}
span.target {
  display: inline-block;
  padding: 0 4px;
  border-radius: 4px;
}
.disabled {
  background: rgba(146, 146, 146, 0.2);
}
.note {
  color: #b4b7b7;
  font-size: 90%;
}
span.note {
  font-size: 40%;
}
.ignore,
.tableexport-ignore {
  background: lightsalmon;
  font-weight: bold;
}
.empty,
.tableexport-empty {
  background: lightgreen;
  font-weight: bold;
}
#customXLSButton {
  background: lightgreen;
  font-size: 200%;
}
#customCSVButton {
  background: lightblue;
  font-size: 100%;
}
